.App {
  text-align: center;
  background-color: #fffaf4;
  font-family: "Bad Script", cursive;
  font-weight: 400;
  font-style: normal;
  color: rgb(87, 54, 26);
  overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(60% + 2vmin);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.image-container {
  display: flex;
  justify-content: center; /* Centers images horizontally */
  align-items: center;     /* Aligns images vertically */
  gap: 2%;               /* Adjust the space between images */
}
.Product-list .image-container{
  flex-wrap: wrap;
}

.Product-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.filter{
  display: flex;
  align-items: center;
  gap: 2%;
  justify-content: space-between;
  padding-left: 4%;
  padding-right: 45%;
  font-size: x-large;
}

.filter button{
  background-color: #ffeff8;
  border: 1px solid rgb(87, 54, 26);
  border-radius: 100%;
  padding: 25px;
  font-size: 20px;
  font-family: "Bad Script", cursive;
  color: rgb(87, 54, 26);
}

.Product-list .Photo-album .image-container img{
  width: 30ex;  /* Set the desired width */
  height: 50ex; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
  padding-bottom: 10%;
}

.image-container img {
  width: 18%;  /* Set the desired width */
  height: 20ex; /* Set the desired height */
  object-fit: cover; /* Ensures the image covers the area without distortion */
}

.Photo-album .image-border{
  border: none;
  padding: 1%;
  background-color:#ffeff8;
}

.Photo-album{
  border: 1px solid #000; /* Set the border width and color */
  padding: 1%;
  margin-top: 2%;
  background-color:#ffeff8;
  width: 93%;
}

.no-product{
  visibility: hidden;
}

.image-border{
  border: 1px solid #000; /* Set the border width and color */
  padding: 2%;
  background-color:#ffeff8;
}

.banner{
  display: flex;
  justify-content: center; /* Centers images horizontally */
  align-items: center;     /* Aligns images vertically */
}

.banner img{
  width: 80%;
  height: 50ex;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 2%;
  padding-right: 2%;
  flex-wrap: wrap;
}

.navbar h1 {
  margin: 0;
  font-size: 75px;
}

.nav {
  display: flex;
  gap: 30px;
}


.nav a {
  text-decoration: none;
  font-size: 25px;
}

a:link { 
  text-decoration: none; 
  color: rgb(87, 54, 26);
} 
a:visited { 
  text-decoration: none;
  color: rgb(87, 54, 26);
} 
a:hover { 
  text-decoration: none; 
  color: rgb(137, 129, 105)
} 
a:active { 
  text-decoration: none;
  color: rgb(137, 129, 105)
}

.Order{
  border-radius: 60px;
  background-color:#ffeff8;
  border: 1px solid #000;
  vertical-align: middle;
  padding-left: 2%;
  padding-right: 2%;
}

.Order a{
  font-size: xx-large;
}

.Outer-order{
  display: flex;
  justify-content: center;
  bottom: 70px;
  position: relative;
  right: 30%;
  width: 200%;
  margin-bottom: 10%;
}

.Home-header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./photos/highlight.png');
  background-size: cover;
  background-repeat: no-repeat;
}

body{
  background-color: #fffaf4;
}

.Options button{
  background-color: #ffeff8;
  border: 1px solid rgb(87, 54, 26);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  margin-top: 4%;
  font-size: 20px;
  width: 30%;
  height: 30ex;
  font-size: x-large;
  font-family: "Bad Script", cursive;
  color: rgb(87, 54, 26);
}

.Options img{
  width: 90%;
}

.Options{
  display: flex;
  justify-content: center;
  align-items: center;;
}

.Options button:hover{
  background-color: #fff5f8;
}

.title{
  margin-top: 3%;
}

.filter-menu {
  width: fit-content;
  background-color: #ffeff8;
  padding: 20px;
  border: 1px solid rgb(87, 54, 26);
  margin-bottom: 20px;

}

.filter-menu label {
  padding: 10px;
}

.done-button{
  background-color: #fbffef;
  border: 1px solid rgb(87, 54, 26);
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  font-size: medium;
  margin-top: 4%;
  font-family: "Bad Script", cursive;
  color: rgb(87, 54, 26);
}

.center-menu{
  display: flex;
  justify-content: center;
  align-items: center;
}

.price-type{
  text-align: left;
  margin-left: 3%;
  margin-right: 3%;
}

.price{
  display: flex;
  justify-content: space-between;
  font-size: larger
}

.row{
  display: flex;
  justify-content: space-between;
  align-items: top;
  margin-top: 5%;
}

footer{
  margin-top: 5%;
}

.Additional-info{
  font-size: small;
}

.price-block{
  border: 1px solid rgb(87, 54, 26);
  background-color: #ffeff8;
  width: 95%;
}

.outer-pricing{
  display: flex;
  justify-content: center;
}